@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    background-color: lightgreen;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    border-radius: 10px;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
}
nav {
    border: solid;
    border-radius: 10px;
    padding: 3mm;
}

nav ul {
    padding: 0;
    margin: 0;
}
nav ul li {
    list-style-type: none;
    display: inline;
}

nav ul li:not(:first-child):before {
    content: " | ";
}

section {
    padding: 1%;
}
article {
    padding: 1%;
    padding-top: 0.2%;
}
footer {
    border-top: solid 2px;
    margin-top: 2%;
    padding: 1%;
    text-align: center;
    font-size: 0.8em;
}
.active {
    font-style: italic;
}

#posteri {
    padding: 5mm;
    display: inline-block;
    max-width: 90%;
    height: auto;
}

figcaption {
    font-size: 0.5em;
}