@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@viewport {
    zoom: 1.0;
    width: device-width;
}



html {
    background-color: lightgreen;
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
}

body {
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    border-radius: 10px;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
}
nav {
    border: solid;
    border-radius: 10px;
    padding: 3mm;
}

nav ul {
    padding: 0;
    margin: 0;
}
nav ul li {
    list-style-type: none;
    display: inline;
}

nav ul li:not(:first-child):before {
    content: " | ";
}

section {
    padding: 1%;
}
article {
    padding: 1%;
    padding-top: 0.2%;
}
footer {
    border-top: solid 2px;
    margin-top: 2%;
    padding: 1%;
    text-align: center;
    font-size: 0.8em;
}
.active {
    font-style: italic;
}

#posteri {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    max-width: 100%;
}

figcaption {
    font-size: 0.5em;
}

@media only screen and (min-resolution: 300dpi) {
    body {
       font-size: 2.0em;
    }
    nav ul li:not(:first-child):before {
       content: "\a\a";
       white-space: pre;
    }
}
